.body_background{
    height: 100vh;
    background-image: linear-gradient(to right top, #62567a, #6a5d94, #6e65b0, #6d6dcd, #6677eb);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.form-container{
    margin-top: 10%;
}
input , select{
   height: 40px;
}
input{
width: 400px;
}
select{
width: 200px;
}